.vehicle-info {
  display: flex;
  align-items: center;
  border: #000 solid 1px;
  position: absolute;
  left: 10px;
  right: 10px;
  padding: 10px;
  top: 10px;
  background-color: rgba(255,255,255, 0.75);  
  text-decoration: none;
  color: #000;
}
.vehicle-info:hover {
  text-decoration: underline;
}

.vehicle-info .footer,
.vehicle-info .header {
  flex-basis: 50%;
}

.vehicle-info .footer {
  text-align: right;
}
.vehicle-info .edit-vehicle {
  line-height: 16px;
}

.vehicle-info .edit-vehicle:after {
  position: relative;
  top:3px;
  margin-left: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  background: transparent no-repeat url(/icons/disclosure.svg) center center;
}
.vehicle-info h4,
.vehicle-info p {
  margin: 0;
  font-size: 14px;
}

@media screen and (min-width:480px) {
  .vehicle-info {
    padding: 15px;
    left: 25%;
    right: 25%;
  }
}
